<!DOCTYPE html>
<html>
  <head>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Content/css/styles.css" rel="stylesheet" type="text/css">
    <title>TEMPLATE</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>TEMPLATE</h1>
    </div>
    <div class="container">
      <h2>TEMPLATE</h2><br>

        <form action="/TEMPLATE" method="post">
          <button type="submit">SUBMIT</button>
        </form>
      <h5><a href="/TEMPLATE">TEMPLATE</a></h5><br>
    </div>
  </body>
</html>
